rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read: if true;
      allow write: if isOwner(userId);
    }
    
    match /properties/{propertyId} {
      // Allow anyone to read a single property document
      allow get: if true;
      // Allow authenticated users to create properties
      allow create: if request.auth != null;
      // Allow only the owner to update or delete their property
      allow update, delete: if isOwner(resource.data.userId);
    }

    // This rule is necessary to allow querying the entire properties collection
    match /properties {
        allow list: if true;
    }
  }
}
