@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 45 68% 52%;
    --primary-foreground: 0 0% 10%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 45 68% 52%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 45 68% 52%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 16%;
    --foreground: 0 0% 98%;
    --card: 240 15% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 45 68% 52%;
    --primary-foreground: 0 0% 10%;
    --secondary: 240 30% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 15% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 45 68% 52%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 15% 25%;
    --input: 240 15% 25%;
    --ring: 45 68% 62%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
